div {
    border: 1px solid #333;

}

p {    
    color: green;
    text-align: justify;
    text-decoration: blink;
    text-transform: uppercase;
    
    text-indent: 2em;    
    letter-spacing: 0.5em;    
    line-height: 2.0;
    
    white-space: pre;
}
