body {
    background-color: burlywood;
}

div {        
    height: 560px;
    width: 650px;
    margin: 50px;
    padding: 50px;
    border: 50px  solid lawngreen; 

    background: cadetblue;
    background-image: url("../../images/logo.png");
}
p {
    background: inherit;
}